/* To Change the Theme colours please change the two attributes bellow */

.theme-bg {
    background-color: #003087;
    color: #fff;
}

.theme2 {
    background-color: #005EB8;
    color: #fff;
}

.theme3 {
    background-color: #0072CE;
    color: #fff;
}

.theme4 {
    background-color: #00A9CE;
    color: #fff;
}

.theme5 {
    background-color: #00A9CE;
    color: #fff;
}

.theme6 {
    background-color: #425563;
    color: #fff;
}

.nhsgreen {
    background-color: #009639 !important;
    color: #fff !important;
}

.theme,
h2,
h4 {
    color: #005EB8;
}

/* End of Theme */

html {
    box-sizing: border-box;
    font-family: 'Lato';
}

*, *:before, *:after {
    box-sizing: inherit;
}

.Wrapper {
    display: flex;
    flex-direction: column;
}

main {
    min-height: Calc(100vh - 258px);
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    margin-top: 10px;
}

.main-nav {
    background-color: #425563 !important;
    padding: 5px;
    color: #fff;
    height: 50px;
}

header {
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

header a, header a:hover {
    color: #fff;
}

footer {
    padding: 15px;
    background-color: #f1f1f1 !important;
}

.Page-body {
    flex: 1;
}

.logo {
    background: url(../nhswales.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    margin-right: 5px;
}

#brand {
    font-size: 28px;
    height: 100px;
}

#mobNav {
    display: none;
    width: 1px;
    opacity: 0;
}

#rbar {
    margin-top: 30px;
}

#rbar a {
        display: block;
        padding: 6px;
        color: #fff;
}

#rbar a:hover {
    color: yellow;
}

#rbar a:active {
    color: red;
}

tlhl {
    color: #98ffff;
}

.white-link, .white-link:hover {
    color: #fff;
}


.hero {
    min-height: 300px;
    height: 40vh;
    /* background-image: linear-gradient(135deg, #69ff97 10%, #00e4ff 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -16px;
    margin-right: -10px;
    margin-top: -20px;
}

.message {
    padding: 10px;
    background-color: #edff21;
}

    .message a {
        color: #000;
    }

/* This is needed for ie11 support */
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wWA.woff) format('woff');
    }
    /* Mobile View */
    @media only screen and (max-width: 700px) {

        header {
            height: 60px;
            padding-left: 10px;
        }

        .logo {
            display: none;
        }

        #brand {
            font-size: 20px;
            height: 60px;
        }

        #rightnav {
            height: 60px;
            padding-right: 5px;
        }

        #mainNav {
            display: none;
        }

        #mobNav {
            display: block;
            opacity: 1;
            width: 50px;
        }

        main {
            height: Calc(100vh - 175px);
            padding-top: 10px;
        }

        #rbar {
            margin-top: 12px;
        }

            #rbar .btn {
                padding: 5px;
            }

            #rbar svg {
                height: 20px;
                width: 20px;
                display: block;
            }
        .message {
            font-size: 0.8em;
            padding:5px;
        }
    }