.nhsdarkblue{background-color:#003087 !important;color:#fff !important;}
.nhsblue {
    background-color: #005eb8 !important;
    color: #fff !important;
}
.nhsbrightblue {
    background-color: #0072ce !important;
    color: #fff !important;
}
.nhslightblue {
    background-color: #41b6e6 !important;
    color: #000 !important;
}
.nhsaquablue {
    background-color: #00a9ce !important;
    color: #fff !important;
}
.nhsblack {
    background-color: #231f20 !important;
    color: #fff !important;
}
.nhsdarkgrey {
    background-color: #425563 !important;
    color: #fff !important;
}
.nhsmidgrey {
    background-color: #768692 !important;
    color: #fff !important;
}
.nhspalegrey {
    background-color: #e8edee !important;
    color: #000 !important;
}
.nhsdarkgreen {
    background-color: #006747 !important;
    color: #fff !important;
}
.nhsgreen {
    background-color: #009639 !important;
    color: #fff !important;
}
.nhslightgreen {
    background-color: #78be20 !important;
}
.nhsaquagreen {
    background-color: #00a499 !important;
    color: #fff !important;
}
.nhspurple {
    background-color: #330072 !important;
    color: #fff !important;
}
.nhsdarkpink {
    background-color: #7c2855 !important;
    color: #fff !important;
}
.nhspink {
    background-color: #ae2573 !important;
    color: #fff !important;
}
.nhsdarkred {
    background-color: #8a1538 !important;
    color: #fff !important;
}
.nhsred {
    background-color: #da291c !important;
    color: #fff !important;
}
.nhsorange {
    background-color: #ed8b00 !important;
    color: #fff !important;
}
.nhswarmyellow {
    background-color: #ffb81c !important;
}
.nhsyellow {
    background-color: #fae100 !important;
}